.aboutContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    animation: 0.4s aboutAnimation ease-out 1;
}

.showCV {
    padding-bottom: 1rem;
}

.cvLink {
    text-decoration: none;
    font-weight: 800;
    color: black;
    transition: .3s;
}

.cvLink:hover {
    color: #ff5757;
}

@keyframes aboutAnimation {
    0%{
        opacity: 0;
    }
    20% {
        opacity: 0.25
    }
    50% {
        opacity: .50
    }
    75% {
        opacity: .75
    }
    100% {
        opacity: 1
    }
}

@media only screen and (max-width: 420px){
    .aboutContainer {
        display: flex;
        flex-direction: column;
        width: 75%;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
}