.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: contactAnimation 0.4s ease-out 1;
  
}

.contactList {
  display: flex;
  gap: 1rem;
  list-style: none;
  
}

.contactListLink {
  text-decoration: none;
  display: flex;
  align-items: center;
}

@keyframes contactAnimation {
    0% {
        opacity: 0;
    }

    25% {
        opacity: .25;
    }

    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }


    
}

@media only screen and (max-width: 420px){
    .contactList {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        list-style: none;
    }
}
