/* Container styling */

.projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    animation: projectAnimation .4s ease-out 1;
   
}

.projectCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectHeading {
    text-align: center;
    color: #46351D;
    border: solid #46351D;
    border-width: 2px 0px 2px 0px;
}

@keyframes projectAnimation {
    0% {
      opacity: 0;
    }
  
    25% {
      opacity: 0.25;
    }
  
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }

  @media only screen and (max-width: 420px){
    .projectsContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

   
  }

  @media only screen and (max-width: 975px){
     .projectCardContainer {
        display: flex;
        flex-direction: column;
    }
  }