#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.App {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  min-height: 100dvh;
}

.nameContainer {
  width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}

#nameTag {
  height: 15rem;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  filter: drop-shadow(5px 5px 5px gray);
  transition: 0.25s;
  padding-bottom: 14px;
  z-index: 1;
}

#nameTag:hover {
  cursor: pointer;
}

#nameTag:active {
  transform: scale(95%);
}

#headline {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  z-index: 4;
}

/* Footer styling */
.footer {
  position: relative;
  height: 4%;
  width: 100dvw;
  background-color: #0cc0df;
  margin-top: auto;
}

.footerText {
  font-size: 0.75rem;
  font-style: italic;
  margin-left: 2rem;
  margin-top: 0.5rem;
}
